Lab7c/Connected Services/PhoneServiceReference/Infrastructure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTelephoneNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TelephoneNote" nillable="true" type="tns:TelephoneNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTelephoneNote" nillable="true" type="tns:ArrayOfTelephoneNote" />
  <xs:complexType name="TelephoneNote">
    <xs:sequence>
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Phone_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelephoneNote" nillable="true" type="tns:TelephoneNote" />
</xs:schema>